@page "/grau-sensibilidade"
@layout MainLayout
@inherits Radnet.Pages.GrauSensibilidadeComponent

@using Radzen
@using Radzen.Blazor
@using Radnet.Models.RadnetBd
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="GrauSensibilidade">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getGrauSensibilidadesResult" TItem="Radnet.Models.RadnetBd.GrauSensibilidade" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="Radnet.Models.RadnetBd.GrauSensibilidade" Property="id_Grau" Title="Id Grau">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Radnet.Models.RadnetBd.GrauSensibilidade" Property="limite_maximo" Title="Limite Maximo">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Radnet.Models.RadnetBd.GrauSensibilidade" Property="limite_minimo" Title="Limite Minimo">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Radnet.Models.RadnetBd.GrauSensibilidade" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="radnetModelsRadnetBdGrauSensibilidade">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, radnetModelsRadnetBdGrauSensibilidade))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
