@page "/valor-referencium"
@layout MainLayout
@inherits Radnet.Pages.ValorReferenciumComponent

@using Radzen
@using Radzen.Blazor
@using Radnet.Models.RadnetBd
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="ValorReferencium">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getValorReferenciaResult" TItem="Radnet.Models.RadnetBd.ValorReferencium" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="Radnet.Models.RadnetBd.ValorReferencium" Property="id_referencia" Title="Id Referencia">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Radnet.Models.RadnetBd.ValorReferencium" Property="VR_diario" Title="VR Diario">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Radnet.Models.RadnetBd.ValorReferencium" Property="VR_mensal" Title="VR Mensal">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Radnet.Models.RadnetBd.ValorReferencium" Property="VR_anual" Title="VR Anual">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Radnet.Models.RadnetBd.ValorReferencium" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="radnetModelsRadnetBdValorReferencium">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, radnetModelsRadnetBdValorReferencium))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
